.custom-button {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 12px;
}

.custom-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button-image img {
    width: 20px;
    height: 20px;
    filter: invert(1); /* Hace que los iconos negros se vean blancos */
}

.button-text {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}